body {
    font-family: 'Dosis', sans-serif;
}

.logo-container img {
    width: 10vw;
}

.navbar-nav a {
    color: #295e6a !important;
}

.navbar-nav a:hover {
    transform: scale(1.2) !important;
}


/* Footer Styling */
.footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3vw;
    background-color: #295e6a;
    color: #c2faf1;
}

.footer-logo .logo2 {
    width: 25vw;
    height: 20vw;
}

.footer-links {
    margin-left: 3vw;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin-top: 3.5vw;
}

.footer-links a {
    font-family: Dosis, serif;
    font-size: 1.5vw;
    color: #c2faf1;
    text-decoration: none;
}

.footer-social {
    margin-left: 8vw;
    margin-top: 8vw;
}

.social-icons {
    display: flex;
    gap: 0.9vw;
    align-items: flex-start;
}

.social-icons a {
    width: 4vw;
    height: 4vw;
    padding: 0;
    margin: 0;
    color: #c2faf1;
    text-decoration: none;
}

.social-icons a svg {
    fill: #c2faf1;
}